@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

body{
	font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
    padding-bottom: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
    max-width: 320px;
    margin:0 auto;
	overflow-x: hidden;
	background: #fff;
    text-align: center;
}

h3{
    padding-top: 50px;
}

.box {
    padding: 20px 1em;
    margin: 2em 0;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.box h3 {
    margin: 0;
    padding: 0;
}

.box13 p {
    margin: 0; 
    padding: 0;
}

/* ヘッダー
------------------------------------------------------------*/

header {
    display: flex;
}

.logo {
    margin: 5px;
}

img {
    width: 50px;
    height: auto;
    padding-top: 20px;
}

/* フッター
------------------------------------------------------------*/

footer {
    width: 320px; 
    height: 80px; 
    margin:0 auto;
    background: #f4eaff;
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    bottom: 0; /* 上下の固定位置を上から0pxにする */
    display: flex; /* 中の要素を横並びにする */
}

footer .gnav .menu {
    display: flex; /* 中の要素を横並びにする */
}

footer .gnav .menu li {
    list-style: none; /* リストの[・]を消す */
    object-fit: cover;
    margin:15px;
}

i {
    font-size:2em;
    color: #000000;
}

.kankou::before {
    font-family: "Font Awesome 5 Free";
    content: '\f6a1';
    font-weight: 900;
  }

.gurume::before{
    font-family: "Font Awesome 5 Free";
    content: '\e4c6';
    font-weight: 900;
}

/*検索------------------------------------------------------*/

  

/* 目的別で探す
------------------------------------------------------------*/
.mokuteki{
    display: flex;
}

.mokuteki img{
    border-radius: 30px;   
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 15px;
    margin: auto;
}



/* -------------------------------------------*/